textarea {
  overflow: auto;
  resize: none;
}

input#newPhoto {
  display: none;
}

#image-container {
  cursor: pointer;
  position: relative;
  min-height: 30rem;
}

#image-container #button-box{
  z-index: 2;
  transition: background-color .2s;
}
#image-container #button-box svg{
  width: 130px !important;
  height: 130px !important;
  filter: opacity(0.4);
  transition: transform .2s;
}
#image-container:hover #button-box{
  background-color: rgba(255, 255, 255, 0.85);
}
#image-container:hover #button-box svg{
  transform: scale(1.3);
  filter: opacity(1);
}
#image-container:active #button-box svg{
  transform: scale(1.2);
}

#image-container #image {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}
#image-container #image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#image-container #background{
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#image-container #background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px) grayscale(0.2%);
}
