<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->


<div class="container-fluid pt-3 pt-md-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <!-- Start Edit Button -->
        <button class=" btn btn-primary border-white m-0 add-button" routerLink="edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <!-- End Edit Button -->

        <app-user-profile [name]="serviceData?.name" [email]="serviceData?.email" [photo]="serviceData?.image" [role]="utilitiesService.getRoleName()"></app-user-profile>

        <div class="card-body pt-0 address-container">
          <div class="text-center">
            <span class="text-xs">{{serviceData?.address}}</span>
          </div>

          <div class="text-center mt-4">
            <b>Recursos Humanos</b>
            <br>
            <div class="text-sm">
              <span>{{serviceData?.hrFullName}}</span><br>
              <span>{{serviceData?.hrEmail}}</span><br>
              <span>{{serviceData?.hrPhone}}</span>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div class="row p-0 m-0 w-100">
                  <div class="btn col-12 col-md-6 m-0" routerLink="/dash/std/group">
                    <i class="fas fa-sitemap"></i>
                    <span class="heading font-weight-700 text-sm">{{serviceData?.sizeCompany}}</span>
                    <span class="description">Tamaño de Compañia</span>
                  </div>
                  <div class="btn col-12 col-md-6 m-0" routerLink="/dash/std/group">
                    <i class="fas fa-building"></i>
                    <span class="heading font-weight-700 text-sm">{{serviceData?.serviceType}}</span>
                    <span class="description">Tipo de Servicio</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
