<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->


<div class="container-fluid pt-3 pt-md-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <!-- Start Edit Button -->
        <button class=" btn btn-primary border-white m-0 add-button" routerLink="edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <!-- End Edit Button -->

        <app-user-profile [name]="'Wayaweb Sa de CV'" [email]="'email'" [photo]="''" [role]="utilitiesService.getRoleName()"></app-user-profile>

        <div class="card-body pt-0 address-container">
          <div class="text-center">
            <span class="text-sm">Aqui va a air la direccion de la empresa</span>
          </div>

          <div class="text-center mt-4">
            <b>Recursos Humanos</b>
            <br>
            <div class="text-sm">
              <span>Katherine Sarahid qweqweqwe</span><br>
              <span>201900075@upqroo.estudiantes.mx</span><br>
              <span>9983322345</span>
            </div>

          </div>
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div class="row p-0 m-0 w-100">
                  <div class="btn col-12 col-md-6 m-0" routerLink="/dash/std/group">
                    <i class="fas fa-sitemap"></i>
                    <span class="heading font-weight-700 text-sm">10 a 20 empleados</span>
                    <span class="description">Tamaño de Compañia</span>
                  </div>
                  <div class="btn col-12 col-md-6 m-0" routerLink="/dash/std/group">
                    <i class="fas fa-building"></i>
                    <span class="heading font-weight-700 text-sm">Software</span>
                    <span class="description">Tipo de Servicio</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--    <div class="col-xl-8 order-xl-1">-->
    <!--      <div class="card bg-secondary shadow">-->
    <!--        <div class="card-header bg-white border-0">-->
    <!--          <div class="row align-items-center">-->
    <!--            <div class="col-8">-->
    <!--              <h3 class="mb-0">My account</h3>-->
    <!--            </div>-->
    <!--            <div class="col-4 text-right">-->
    <!--              <a href="#!" class="btn btn-sm btn-primary">Settings</a>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--          <form>-->
    <!--            <h6 class="heading-small text-muted mb-4">User information</h6>-->
    <!--            <div class="pl-lg-4">-->
    <!--              <div class="row">-->
    <!--                <div class="col-lg-6">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-username">Username</label>-->
    <!--                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                <div class="col-lg-6">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-email">Email address</label>-->
    <!--                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="jesse@example.com">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              <div class="row">-->
    <!--                <div class="col-lg-6">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-first-name">First name</label>-->
    <!--                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Lucky">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                <div class="col-lg-6">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-last-name">Last name</label>-->
    <!--                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Jesse">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <hr class="my-4" />-->
    <!--            &lt;!&ndash; Address &ndash;&gt;-->
    <!--            <h6 class="heading-small text-muted mb-4">Contact information</h6>-->
    <!--            <div class="pl-lg-4">-->
    <!--              <div class="row">-->
    <!--                <div class="col-md-12">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-address">Address</label>-->
    <!--                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--              <div class="row">-->
    <!--                <div class="col-lg-4">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-city">City</label>-->
    <!--                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="New York">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                <div class="col-lg-4">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-country">Country</label>-->
    <!--                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Country" value="United States">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--                <div class="col-lg-4">-->
    <!--                  <div class="form-group">-->
    <!--                    <label class="form-control-label" for="input-country">Postal code</label>-->
    <!--                    <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code">-->
    <!--                  </div>-->
    <!--                </div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <hr class="my-4" />-->
    <!--            &lt;!&ndash; Description &ndash;&gt;-->
    <!--            <h6 class="heading-small text-muted mb-4">About me</h6>-->
    <!--            <div class="pl-lg-4">-->
    <!--              <div class="form-group">-->
    <!--                <label>About Me</label>-->
    <!--                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </form>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</div>
