<form [formGroup]="studentsForm" (ngSubmit)="studentsSubmit()">

  <input type="hidden" formControlName="role">

  <app-register-form></app-register-form>

  <div class="row m-0 p-0">
    <div class="form-group col-12 p-0">
      <div class="input-group input-group-alternative" [ngClass]="(studentsForm.controls.enrollment.invalid && studentsForm.controls.enrollment.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
        </div>
        <input class="form-control" placeholder="Matrícula" type="text" formControlName="enrollment" maxlength="9" NumbersOnly>
      </div>
      <div *ngIf="studentsForm.controls.enrollment.errors?.required && studentsForm.controls.enrollment.touched">
        <small class="error-text ml-2">*Ingresa tu matrícula</small>
      </div>
      <div *ngIf="studentsForm.controls.enrollment.errors?.minlength && studentsForm.controls.enrollment.touched">
        <small class="error-text ml-2">*Debe ser de {{studentsForm.controls.enrollment.errors?.minlength.requiredLength}} caracteres</small>
      </div>
    </div>

    <div class="form-group col-12 p-0">
      <div class="input-group input-group-alternative" [ngClass]="(studentsForm.controls.career.invalid && studentsForm.controls.career.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <select class="form-control" formControlName="career">
          <option [value]="null" disabled hidden>Carrera</option>
          <option value="0">Ingeniería en Software</option>
          <option value="1">Ingeniería en Biomédica</option>
          <option value="2">Ingeriería en Biotecnología</option>
          <option value="3">Ingeniería Financiera</option>
          <option value="4">Licenciatura en administración y gestión empresarial</option>
          <option value="5">Licenciatura en terapia física</option>
        </select>
      </div>
      <div *ngIf="studentsForm.controls.career.errors?.required && studentsForm.controls.career.touched">
        <small class="error-text ml-2">*Selecciona la carrera que cursas</small>
      </div>
    </div>

    <div class="form-group col-6 p-0 pr-1">
      <div class="input-group input-group-alternative" [ngClass]="(studentsForm.controls.quarter.invalid && studentsForm.controls.quarter.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
        </div>
        <select class="form-control" formControlName="quarter">
          <option [value]="null" disabled hidden>Cuatrimestre</option>
          <option value="6">6° Cuatrimestre</option>
          <option value="7">7° Cuatrimestre</option>
          <option value="8">8° Cuatrimestre</option>
          <option value="9">9° Cuatrimestre</option>
          <option value="10">10° Cuatrimestre</option>
        </select>
      </div>
      <div *ngIf="studentsForm.controls.quarter.errors?.required && studentsForm.controls.quarter.touched">
        <small class="error-text ml-2">*Selecciona el cuatrimestre que cursas</small>
      </div>
    </div>
    <div class="form-group col-6 p-0 pl-1">
      <div class="input-group input-group-alternative" [ngClass]="(studentsForm.controls.schedule.invalid && studentsForm.controls.schedule.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-clock"></i></span>
        </div>
        <select class="form-control" formControlName="schedule">
          <option [value]="null" disabled hidden>Turno</option>
          <option value="0">Matutino</option>
          <option value="1">Vespertino</option>
        </select>
      </div>
      <div *ngIf="studentsForm.controls.schedule.errors?.required && studentsForm.controls.schedule.touched">
        <small class="error-text ml-2">*Selecciona el turno en el que cursas</small>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="col-sm-8 btn btn-primary mt-4">Crear cuenta</button>
  </div>
</form>

