:host {
  width: 100%;
  height: 100%;
}
/* Default Buttons Design */
.image-button{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/* Main Container */
#image-container{
  min-height: 30rem;
  background-color: var(--secondary);
}

/* Container with border */
#image-box{
  position: relative;
}
#image-box.border-active,
#image-box.ondrag{
  border: var(--primary) dashed 2px;
}

/* Drag and Drop image box */
#image-box.ondrag,
#image-box #button-box{
  background-color: rgba(118, 163, 255, 0.3);
}

/* Buttons Box position */
#image-box #button-box{
  z-index: 2;
  transition: background-color .2s;
}

/* Image preview position */
#image-box #image {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}
#image-box #image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Image Background position */
#image-box #background{
  position: absolute;
  z-index: 0;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
}
#image-box #background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px) grayscale(0.2%);
}
