<div [formGroup]="userEntity">
  <!-- Start Name Input -->
  <div class="form-group">
    <div class="input-group input-group-alternative"  [ngClass]="(userEntity.controls.fullName.invalid && userEntity.controls.fullName.touched ) ? 'error-border' : ''">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
      </div>
      <input class="form-control" placeholder="Nombre Completo" type="text" formControlName="fullName">
    </div>
    <div *ngIf="userEntity.controls.fullName.errors?.required && userEntity.controls.fullName.touched">
      <small class="error-text ml-2">*Ingresa tu Nombre</small>
    </div>
    <div *ngIf="userEntity.controls.fullName.errors?.minlength && userEntity.controls.fullName.touched">
      <small class="error-text ml-2">*Por favor, ingresa tu nombre completo</small>
    </div>
  </div>
  <!-- End Name Input -->

  <!-- Start Email Input -->
  <div class="form-group">
    <div class="input-group input-group-alternative" [ngClass]="(userEntity.controls.email.invalid && userEntity.controls.email.touched ) ? 'error-border' : ''">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
      </div>
      <input class="form-control" placeholder="Correo electrónico" type="email" formControlName="email">
    </div>
    <div *ngIf="userEntity.controls.email.errors?.required && userEntity.controls.email.touched">
      <small class="error-text ml-2">*Ingresa tu correo electrónico</small>
    </div>
    <div *ngIf="userEntity.controls.email.errors?.pattern && userEntity.controls.email.touched && (router.url ==='/guest/register/student' || router.url ==='/dash/std/profile/edit' )">
      <small class="error-text ml-2">*Correo invalido. Formato: xxxxxxxxx@estudiantes.upqroo.edu.mx</small>
    </div>
    <div *ngIf="userEntity.controls.email.errors?.pattern && userEntity.controls.email.touched && (router.url === '/guest/register/teacher' || router.url ==='/dash/tch/profile/edit' )">
      <small class="error-text ml-2">*Correo invalido. Formato: xxxxxxxxx@docentes.upqroo.edu.mx</small>
    </div>
    <div *ngIf="userEntity.controls.email.errors?.pattern && userEntity.controls.email.touched && (router.url === '/guest/register/company' || router.url ==='/dash/comp/profile/edit' )">
      <small class="error-text ml-2">*Correo invalido. Formato: xxxxxxxxx@dominio.com</small>
    </div>
  </div>
  <!-- End Email Input -->

  <div class="custom-control custom-switch mb-3" [ngClass]="(edit === true) ? 'd-block' : 'd-none'">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="changePassword"
           [ngModelOptions]="{standalone: true}" (change)="changePasswordValidators()">
    <label class="custom-control-label" for="customSwitch1">Cambiar contraseña</label>
  </div>

  <div class="row m-0 p-0 col-12" *ngIf="(changePassword === true && edit === true) || edit === false">

    <!-- Start password Input -->
    <div class="form-group col-sm-6 p-0 pr-sm-2">
      <div class="input-group input-group-alternative" [ngClass]="(userEntity.controls.password.invalid && userEntity.controls.password.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input class="form-control" placeholder="Contraseña" type="password" formControlName="password">
      </div>
      <div *ngIf="userEntity.controls.password.errors?.required && userEntity.controls.password.touched">
        <small class="error-text ml-2">*Ingresa una contraseña</small>
      </div>
      <div *ngIf="userEntity.controls.password.errors?.minlength && userEntity.controls.password.touched">
        <small class="error-text ml-2">*La contraseña debe ser de {{userEntity.controls.password.errors?.minlength.requiredLength}} caracteres</small>
      </div>
    </div>
    <!-- End password Input -->

    <!-- Start Confirm Password Input -->
    <div class="form-group col-sm-6 p-0 pl-sm-2">
      <div class="input-group input-group-alternative" [ngClass]="(userEntity.controls.confirmPassword.invalid && userEntity.controls.confirmPassword.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
        </div>
        <input class="form-control" placeholder="Confirmar contraseña" type="password" formControlName="confirmPassword">
      </div>
      <div *ngIf="userEntity.controls.confirmPassword.errors?.required && userEntity.controls.confirmPassword.touched">
        <small class="error-text ml-2">*Confirma tu contraseña</small>
      </div>
      <div *ngIf="userEntity.controls.confirmPassword.errors?.mustMatch && userEntity.controls.confirmPassword.touched">
        <small class="error-text ml-2">*La contraseña no coincide</small>
      </div>
    </div>
    <!-- End Confirm Password Input -->

  </div>
</div>
