<form [formGroup]="teachersForm" (ngSubmit)="teachersSubmit()">

    <app-register-form [edit]="edit" [role]="2"></app-register-form>

    <div class="row m-0 p-0">

      <!-- Start Phone Input -->
      <div class="form-group col-12 p-0">
        <div class="input-group input-group-alternative"  [ngClass]="(teachersForm.controls.phone.invalid && teachersForm.controls.phone.touched ) ? 'error-border' : ''">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
          </div>
          <input class="form-control" placeholder="Número de teléfono" type="tel" formControlName="phone" maxlength="10" NumbersOnly>
        </div>
        <div *ngIf="teachersForm.controls.phone.errors?.required && teachersForm.controls.phone.touched">
          <small class="error-text ml-2">*Ingresa tu número de teléfono</small>
        </div>
        <div *ngIf="teachersForm.controls.phone.errors?.pattern && teachersForm.controls.phone.touched">
          <small class="error-text ml-2">*Por favor, ingresa tu número de teléfono de 10 dígitos</small>
        </div>
      </div>
      <!-- End Phone Input -->

      <!-- Start Degree Input -->
      <div class="form-group col-12 p-0">
        <div class="input-group input-group-alternative" [ngClass]="(teachersForm.controls.grade.invalid && teachersForm.controls.grade.touched ) ? 'error-border' : ''">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <select class="form-control" formControlName="grade">
            <option [value]="null" disabled hidden>Título académico</option>
            <option value="Licenciado(a)">Licenciado(a)</option>
            <option value="Ingeniero(a)">Ingeniero(a)</option>
            <option value="Arquitecto(a)">Arquitecto(a)</option>
            <option value="Doctor(a)">Doctor(a)</option>
            <option value="C.P.T.">C.P.T.</option>
            <option value="Profesor(a)">Profesor(a)</option>
          </select>
        </div>
        <div *ngIf="teachersForm.controls.grade.errors?.required && teachersForm.controls.grade.touched">
          <small class="error-text ml-2">*Selecciona el título académico que tienes</small>
        </div>
      </div>
      <!-- End Degree Input -->

    </div>

  <div class="text-center" [ngClass]="(edit) ? 'text-md-right' : ''" >
    <button type="submit" class="btn btn-primary mt-4" [ngClass]="(edit)? 'col-auto' : 'col-sm-8'" >
      {{ (edit) ? 'Guardar Cambios' : 'Crear Cuenta' }}
    </button>
  </div>
  </form>
