<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-complete">
</div>
<!-- End Background Color -->

<div class="pb-0 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="row">
            <!-- Start Card -->
            <div class="col-12 mb-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body px-2 px-sm-4 p-lg-4">

                  <!-- Start title Header -->
                  <div class="row mb-4">
                    <div class="col text-center text-sm-left px-1">

                      <div class="row">
                        <a class="ml-4 my-auto p-0 m-0 mouse-pointer" routerLink="../../groups">
                          <i class="fas fa-arrow-left"></i>
                        </a>
                        <span class="h2 col font-weight-bold mb-0">Nuevo grupo</span>
                      </div>
                    </div>
                  </div>
                  <!-- End title Header -->

                  <!-- Start form -->
                  <form [formGroup]="createGroupForm" (submit)="validateForm()">

                    <div class="row">
                      <div class="form-group col-12">
                        <label class="form-control-label" for="input-first-name">Nombre del grupo</label>
                        <div class="input-group" [ngClass]="(createGroupForm.controls.name.invalid && createGroupForm.controls.name.touched ) ? 'error-border' : ''">
                          <input type="text" id="input-first-name" class="form-control form-control-alternative bg-lightblue" formControlName="name">
                        </div>
                        <div *ngIf="createGroupForm.controls.name.errors?.required && createGroupForm.controls.name.touched">
                          <small class="error-text ml-2">*Ingresa el nombre del grupo</small>
                        </div>
                        <div *ngIf="createGroupForm.controls.name.errors?.minlength && createGroupForm.controls.name.touched">
                          <small class="error-text ml-2">*El nombre del grupo debe tener al menos 6 caracteres</small>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-12">
                          <label class="form-control-label" for="career">Carrera</label>
                          <div class="input-group">
                            <select (change)="confirmDataForm()" id="career" class="form-control form-control-alternative bg-lightblue-border" formControlName="career">
                              <option [value]="null" hidden selected>Selecciona la carreras</option>
                              <option value="Ingeniería en Software">Ingeniería en Software</option>
                              <option value="Ingeniería Financiera">Ingeniería Financiera</option>
                              <option value="Ingeniería en Biomédica">Ingeniería en Biomédica</option>
                              <option value="Licenciatura en Administracion y Gestion de PyMEs">Licenciatura en Administración y Gestión de PyMEs</option>
                              <option value="Ingeniería en Biotecnologia">Ingeniería en Biotecnología</option>
                              <option value="Licenciatura en Terapia Física">Licenciatura en Terapia Física</option>
                            </select>
                          </div>
                          <div *ngIf="createGroupForm.controls.career.errors?.required && createGroupForm.controls.career.touched">
                            <small class="error-text ml-2">*Selecciona la carrera del grupo</small>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-12">
                        <label class="form-control-label" for="grade">Cuatrimestre</label>
                        <div class="input-group">
                          <select (change)="confirmDataForm()" id="grade" class="form-control form-control-alternative bg-lightblue-border" formControlName="grade">
                            <option [value]="null" disabled hidden>Selecciona el cuatrimestre</option>
                            <option value="6">6to cuatrimestre</option>
                            <option value="7">7mo cuatrimestre</option>
                            <option value="8">8vo cuatrimestre</option>
                            <option value="9">9no cuatrimestre</option>
                            <option value="10">10mo cuatrimestre</option>
                          </select>
                        </div>
                        <div *ngIf="createGroupForm.controls.grade.errors?.required && createGroupForm.controls.grade.touched">
                          <small class="error-text ml-2">*Selecciona el cuatrimestre del grupo</small>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="form-group col-12">
                        <label class="form-control-label" for="schedule">Turno</label>
                        <div class="input-group">
                          <select (change)="confirmDataForm()" id="schedule" class="form-control bg-lightblue-border" formControlName="schedule">
                            <option [value]="null" disabled hidden selected>Selecciona el turno</option>
                            <option value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino</option>
                          </select>
                        </div>
                        <div *ngIf="createGroupForm.controls.schedule.errors?.required && createGroupForm.controls.schedule.touched">
                          <small class="error-text ml-2">*Selecciona el turno del grupo</small>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-12">
                        <label class="form-control-label" for="group">Grupo</label>
                        <div class="input-group">
                          <select id="group" class="form-control form-control-alternative bg-lightblue-border" formControlName="idClazz">
                            <option [value]="null" hidden selected>Selecciona el grupo</option>
                            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                          </select>
                        </div>
                        <div *ngIf="createGroupForm.controls.idClazz.errors?.required && createGroupForm.controls.idClazz.touched">
                          <small class="error-text ml-2">*Selecciona el grupo</small>
                        </div>
                      </div>
                    </div>

                    <div class="text-center pt-3">
                      <button type="submit" class="col-sm-4 btn btn-primary my-auto">Aceptar</button>
                    </div>

                  </form>
                     <!-- End form -->
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
