<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<div class="pb-0 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="row">
            <!-- Start Card -->
            <div class="col-12 mb-xl-3">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body px-2 px-sm-4 p-lg-4">

                  <!-- Start title Header -->
                  <div class="row mb-4">
                    <div class="col text-center text-sm-left">
                      <div class="row">
                        <span class="h2 col font-weight-bold mb-0">Nuevo grupo</span>
                      </div>
                    </div>
                  </div>
                  <!-- End title Header -->

                    <!-- Inputs Start  -->
                    <div class="col-12 col-xl-12 mb-4 px-0 w-100">
                        <label for="">Nombre del grupo</label>
                        <input class="w-100" type="text">
                    </div>

                    <div class="col-12 col-xl-12 mb-4 px-0 w-100">
                        <label for="">Carrera</label>
                        <input class="w-100" type="text">
                    </div>
                    <!-- Inputs End  -->
                    
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>