<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->


<div class="container-fluid pt-3 pt-md-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">

        <!-- Start Edit Button -->
        <button class=" btn btn-primary border-white m-0 add-button" routerLink="edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <!-- End Edit Button -->

        <app-user-profile [name]="student?.fullName" [email]="student?.email" [photo]="student?.imageUrl" [role]="utilitiesService.getRoleName()"></app-user-profile>

        <div class="card-body">

          <div class="text-center">
            <b>Martícula</b>
            <br>
            {{student?.enrollment}}
          </div>
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div class="row p-0 m-0 w-100">
                  <div class="btn col-12 col-lg-6 m-0" routerLink="/dash/std/company">
                    <i class="fas fa-building"></i>
                    <span class="heading font-weight-700 text-sm">{{(company?.name) ? company?.name : 'Sin registrar'}}</span>
                    <span class="description">Empresa</span>
                  </div>
                  <div class="btn col-12 col-lg-6 m-0" routerLink="/dash/std/group">
                    <i class="fas fa-graduation-cap"></i>
                    <span class="heading font-weight-700 text-sm">{{(class?.name) ? class?.name : 'Sin registrar'}}</span>
                    <span class="description">Carrera</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
