<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<div class="container-fluid pt-3 pt-md-7">

  <div class="row">
    <div class="col">
      <!-- Start Table Card -->
      <div class="card shadow px-2 px-sm-3" id="student-group-card">
          <div class="container registro" style="text-align: center">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div>
                    <label type="button" class="btn btn-info btn-lg active" id="seleccionarImagen">
                      Seleccionar Imágenes <input type="file" ng2FileSelect [uploader]="uploader" style="display: none;"
                                                  (onFileSelected)="test()" multiple>
                      <span class="fa fa-folder-open-o" aria-hidden="true"></span>
                    </label>
                    <p>Imágenes a subir: {{ uploader?.queue?.length }}</p>
                  </div>

                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                           (fileOver)="hasBaseDropZoneOver = $event" [uploader]="uploader"
                           class="well my-drop-zone py-7" style="text-align: center"><p>Arrastrar imagen aqui...</p>
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>

                <ng-container *ngIf="uploader !== undefined">
                  <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      <table class="table">
                        <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Imagen</th>
                          <th>Tamaño</th>
                          <th>Progreso</th>
                          <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of uploader.queue; let i = index">
                          <td>{{ item?.file?.name }} </td>
                          <td><img [src]="previewImg[i]" *ngIf="previewImg" alt="" class="mw-100"></td>
                          <td>{{item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
                          <td>
                            <div class="progress" style="margin-bottom: 0;">
                              <div class="progress-bar progress-bar-striped bg-info"
                                   [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                          </td>
                          <td>
                            <button id="botonesTablaUpload" type="button" class="btn btn-secondary"
                                    (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                              <span class="fa fa-upload"></span> Cargar
                            </button>
                            <button id="botonesTablaDelete" type="button" class="btn btn-secondary"
                                    (click)="item.remove()">
                              <span class="fa fa-trash"></span> Eliminar
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                      <div style="text-align: center">
                        <div class="progress" style="">
                          <div class="progress-bar progress-bar-striped" role="progressbar"
                               [ngStyle]="{ 'width': uploader.progress + '%' }" aria-valuenow="uploader.progress"
                               aria-valuemin="0" aria-valuemax="100">
                            {{uploader.progress + '%'}}
                          </div>
                        </div>
                        <br>
                        <button type="button" class="btn btn-success btn-s"
                                (click)="uploader.uploadAll()"
                                [disabled]="!uploader.getNotUploadedItems().length">
                          <span class="fa fa-upload"></span> Cargar Todo
                        </button>
                        <button type="button" class="btn btn-danger btn-s"
                                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                          <span class="fa fa-trash"></span> Eliminar Todo
                        </button>
                      </div>

                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
