<form [formGroup]="companysForm" (ngSubmit)="companysSubmit()">

    <input type="hidden" formControlName="role">

    <app-register-form></app-register-form>

    <div class="row m-0 p-0">
      <div class="form-group col-12 p-0">
        <div class="input-group input-group-alternative" [ngClass]="(companysForm.controls.sizecompany.invalid && companysForm.controls.sizecompany.touched ) ? 'error-border' : ''">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="far fa-building"></i></span>
          </div>
          <select class="form-control" formControlName="sizecompany">
            <option [value]="null" disabled hidden>Tamaño de la empresa</option>
            <option value="0">0-10 empleados</option>
            <option value="1">11-50 empleados</option>
            <option value="2">51-100 empleados</option>
            <option value="3">+100 empleados</option>
          </select>
        </div>
        <div *ngIf="companysForm.controls.sizecompany.errors?.required && companysForm.controls.sizecompany.touched">
          <small class="error-text ml-2">*Selecciona el tamaño de la empresa</small>
        </div>
      </div>

      <div class="form-group col-12 p-0">
          <div class="input-group input-group-alternative" [ngClass]="(companysForm.controls.service.invalid && companysForm.controls.service.touched ) ? 'error-border' : ''">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
            </div>
            <select class="form-control" formControlName="service">
              <option [value]="null" disabled hidden>Giro de la empresa</option>
              <option value="0">Industrial</option>
              <option value="1">Servicios</option>
              <option value="2">Comercial</option>
            </select>
          </div>
          <div *ngIf="companysForm.controls.service.errors?.required && companysForm.controls.service.touched">
            <small class="error-text ml-2">*Selecciona el tipo de giro de la empresa</small>
          </div>
      </div>

      <div class="form-group col-12 p-0">
        <div class="input-group input-group-alternative" [ngClass]="(companysForm.controls.address.invalid && companysForm.controls.address.touched ) ? 'error-border' : ''">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
          </div>
          <input class="form-control" placeholder="Dirección de la empresa" type="text" formControlName="address" minlength="10">
        </div>
        <div *ngIf="companysForm.controls.address.errors?.required && companysForm.controls.address.touched">
          <small class="error-text ml-2">*Ingresa la dirección de la empresa</small>
        </div>
        <div *ngIf="companysForm.controls.address.errors?.minlength && companysForm.controls.address.touched">
          <small class="error-text ml-2">*La direción debe contener al menos 10 caracteres</small>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="col-sm-8 btn btn-primary mt-4">Crear cuenta</button>
    </div>
  </form>
