<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<!-- Start Page content -->
<div class="container-fluid pt-3 pt-md-7">


  <div class="row">
    <div class="col">
      <!-- Start Table Card -->
      <div class="card shadow px-2 px-sm-3" id="student-group-card">

        <div class="card-header"></div>

        <div class="card-body px-0 pb-0 text-center">
          <p class="font-weight-normal">Uy! Parece que no estas en ningúna Empresa</p>
          <div class="d-flex mx-auto mb-3 align-items-center" id="code-input">
            <select  class="form-control mouse-pointer" [(ngModel)]="companyId">
              <option [value]="null" hidden selected>Selecciona una empresa</option>
              <option *ngFor="let company of serviceData" [value]="company?.id">{{company?.name}}</option>
            </select>
            <i class="far fa-question-circle ml-1 text-sm mouse-pointer"
               placement="right" ngbTooltip="Ingresa el nombre de la empresa" tooltipClass="defaultTooltip"></i>
          </div>
          <button class="btn btn-primary px-5" (click)="postCompany()">Ingresar</button>
        </div>
        <div class="card-footer"></div>


      </div>
      <!-- End Table Card -->

    </div>
  </div>

</div>
