<!-- Start Header Title -->
<div class="header bg-gradient-lightBlue py-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-background" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- End Header Title -->

<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <span class="title-session text-darkBlue">Iniciar Sesión</span>
          </div>
          <form role="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative" [ngClass]="(loginForm.controls.email.invalid && loginForm.controls.email.touched ) ? 'error-border' : ''">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Correo electrónico" type="email" formControlName="email">
              </div>
              <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
                <small class="error-text ml-2">*Correo electrónico invalido</small>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative" [ngClass]="(loginForm.controls.password.invalid && loginForm.controls.password.touched ) ? 'error-border' : ''">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Contraseña" type="password" formControlName="password">
              </div>
              <div *ngIf="loginForm.controls.password.errors?.minlength && loginForm.controls.password.touched">
                <small class="error-text ml-2">*La contraseña debe ser de {{loginForm.controls.password.errors?.minlength.requiredLength}} caracteres</small>
              </div>
              <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
                <small class="error-text ml-2">*Ingresa tu contraseña</small>
              </div>
              <div *ngIf="loginError">
                <small class="error-text ml-2">*Usuario o contraseña incorrectos</small>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Recordar Contraseña</span>
              </label>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary my-4">Iniciar sesión</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a  class="text-black-50"><small>¿Olvidaste tu contraseña?</small></a>
        </div>
        <div class="col-6 text-right">
          <a routerLink="../register" class="text-black-50"><small>No tengo cuenta</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
