<div class="header bg-gradient-lightBlue py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido!</h1>
          <p class="text-lead text-white">Si aún no tienes una cuenta, regístrate!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-background" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <span class="title-session text-darkBlue">Crear una cuenta</span>
          </div>

          <div class="btn-group btn-group-toggle w-100 mb-4 d-none d-sm-inline-flex" ngbRadioGroup name="radioBasic" [(ngModel)]="userType">
            <label ngbButtonLabel class="btn-outline-primary border-right-0">
              <input ngbButton type="radio" [value]="0" routerLink="student"> Practicante
            </label>
            <label ngbButtonLabel class="btn-outline-primary border-left-0 border-right-0">
              <input ngbButton type="radio" [value]="1" routerLink="teacher"> Profesor
            </label>
            <label ngbButtonLabel class="btn-outline-primary border-left-0">
              <input ngbButton type="radio" [value]="2" routerLink="company"> Empresa
            </label>
          </div>

          <div class="btn-group-toggle w-100 mb-4 d-flex flex-column d-sm-none" ngbRadioGroup name="radioBasic" [(ngModel)]="userType">
            <label ngbButtonLabel class="col-12 m-0 btn-outline-primary border-bottom-0 border-rounded-top">
              <input ngbButton type="radio" [value]="0" routerLink="student"> Practicante
            </label>
            <label ngbButtonLabel class="col-12 m-0 btn-outline-primary border-top-0 border-bottom-0 rounded-0">
              <input ngbButton type="radio" [value]="1" routerLink="teacher"> Profesor
            </label>
            <label ngbButtonLabel class="col-12 m-0 btn-outline-primary border-top-0 border-rounded-bottom">
              <input ngbButton type="radio" [value]="2" routerLink="company"> Empresa
            </label>
          </div>

          <router-outlet></router-outlet>

        </div>
      </div>
      <div class="col-12 row p-0 m-0 mt-3 justify-content-end">
        <div class="text-right">
          <a routerLink="../login" class="text-black-50 mouse-pointer"><small>¿Ya tienes una cuenta?</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
