<div class="header bg-gradient-lightBlue py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido!</h1>
          <p class="text-lead text-white">Si aún no tienes una cuenta, regístrate!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <span class="title-session text-black-50">Crear una cuenta</span>
          </div>

          <div class="btn-group btn-group-toggle w-100 mb-4" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
            <label ngbButtonLabel class="btn-outline-primary border-right-0">
              <input ngbButton type="radio" [value]="1"> Practicante
            </label>
            <label ngbButtonLabel class="btn-outline-primary border-left-0 border-right-0">
              <input ngbButton type="radio" [value]="2"> Profesor
            </label>
            <label ngbButtonLabel class="btn-outline-primary border-left-0">
              <input ngbButton type="radio" [value]="3"> Empresa
            </label>
          </div>

          <form role="form">

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Nombre Completo" type="text">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Correo electrónico" type="email">
              </div>
            </div>

            <div class="row m-0 p-0 col-12">
              <div class="form-group col-sm-6 p-0 pr-sm-2">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Contraseña" type="password">
                </div>
              </div>

              <div class="form-group col-sm-6 p-0 pl-sm-2">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" placeholder="Confirmar contraseña" type="password">
                </div>
              </div>
            </div>


            <div class="text-center">
              <button type="button" class="col-sm-8 btn btn-primary mt-4">Crear cuenta</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 row p-0 m-0 mt-3 justify-content-end">
        <div class="text-right">
          <a routerLink="/login" class="text-black-50 mouse-pointer"><small>¿Ya tienes una cuenta?</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
