.task-table{
  flex: 1 1 auto;
  height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  .task-table{
    height: 0px;
  }
}


.advises-table{
  flex: 1 1 auto;
  height: 18rem;
  overflow-y: auto;
  overflow-x: hidden;
}
