<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<!-- Start Page content -->
<div class="container-fluid pt-3 pt-md-7">


  <div class="row">
    <div class="col">
      <!-- Start Table Card -->
      <div class="card shadow px-2 px-sm-3" id="student-group-card">

        <div class="card-header"></div>

        <form class="card-body px-0 pb-0 text-center">
          <p class="font-weight-normal">Uy! Parece que no estas en ningún grupo</p>
          <div class="d-flex mx-auto mb-3 align-items-center" id="code-input">
            <input type="text" class="form-control form-control-blue mr-2"  placeholder="Ingresa un codigo de grupo">
            <i class="far fa-question-circle ml-1 text-sm"
               placement="right" ngbTooltip="Tu asesor académico te proporcionará un código para ingresar a la clase" tooltipClass="defaultTooltip"></i>
          </div>
          <button type="submit" class="btn btn-primary px-5">Ingresar</button>
        </form>

        <div class="card-footer"></div>


      </div>
      <!-- End Table Card -->

    </div>
  </div>

</div>
