<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<!-- Start Page content -->
<div class="container-fluid pt-3 pt-md-7">


  <div class="row">
    <div class="col">
      <!-- Start Table Card -->
      <div class="card shadow px-2 px-sm-3" id="student-group-card">

        <div class="card-header"></div>
        <a routerLink="new">Works</a>
        <div class="card-footer"></div>
      </div>
      <!-- End Table Card -->

    </div>
  </div>

</div>
