.profile-image{
  position: absolute;
  left: 50%;
  bottom: -70%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 3px solid white;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.profile-content{
  padding-top: 5rem;
}
