<div class="header bg-gradient-lightBlue pb-5 pt-3 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Start Form -->
      <form (submit)="validateForm()" [formGroup]="registerTaskForm">
      <div class="row">
        <!-- Start Left Section -->
        <div class="col-xl-6 pb-4 pb-xl-0">
          <div class="row h-100">
            <div class="col-12">
              <!-- Start Cards section -->
              <div class="card card-stats mb-4 mb-xl-0 h-100">

                <!-- Start Card Header -->
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <div class="row p-0 m-0">
                        <a class="p-0 m-0 mr-3 mouse-pointer" (click)="return()">
                          <i class="fas fa-arrow-left"></i>
                        </a>
                        <h3 class="mb-0">Datos Generales</h3>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- End Card Header -->

                <!-- Start Card Body -->
                <div class="card-body p-xl-3 bg-secondary">
                  <div class="row justify-content-end">

                    <!-- Start Date Input -->
                    <div class="col-12 col-sm-6">
                      <div class="form-group m-sm-0">
                        <input type="date" class="form-control form-control-alternative"
                               [ngClass]="(registerTaskForm.controls.dateRegister.invalid && registerTaskForm.controls.dateRegister.touched ) ? 'error-border' : ''"
                               [max]="today | date: 'yyyy-MM-dd'" placeholder="Fecha" formControlName="dateRegister"/>
                        <div *ngIf="registerTaskForm.controls.dateRegister.invalid && registerTaskForm.controls.dateRegister.touched">
                          <small class="error-text ml-2">*Ingresa la fecha</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Date Input -->

                  <!-- Start Project Input -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="select-project">Proyecto</label>
                        <select [ngClass]="(registerTaskForm.controls.idProject.invalid && registerTaskForm.controls.idProject.touched ) ? 'error-border' : ''"
                          id="select-project" class="form-control form-control-alternative" formControlName="idProject">
                          <option [value]="null" disabled hidden selected>¿En qué proyecto se trabajó?</option>
                          <option [value]="project.id" *ngFor="let project of projects">{{project?.name}}</option>
                        </select>
                        <div *ngIf="registerTaskForm.controls.idProject.invalid && registerTaskForm.controls.idProject.touched">
                          <small class="error-text ml-2">*Selecciona un proyecto</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End Project Input -->

                  <div class="row">

                    <!-- Start Title Input -->
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Titulo</label>
                        <input [ngClass]="(registerTaskForm.controls.title.invalid && registerTaskForm.controls.title.touched ) ? 'error-border' : ''"
                          type="text" id="input-first-name" class="form-control form-control-alternative"
                          placeholder="¿Qué se hizo?" formControlName="title" maxlength="50">
                        <div *ngIf="registerTaskForm.controls.title.invalid && registerTaskForm.controls.title.touched">
                          <small class="error-text ml-2">*Agregar un titulo descriptivo</small>
                        </div>
                      </div>
                    </div>
                    <!-- End Title Input -->

                    <!-- Start Time Input -->
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Tiempo</label>
                        <input [ngClass]="(registerTaskForm.controls.timeRegister.invalid && registerTaskForm.controls.timeRegister.touched ) ? 'error-border' : ''"
                          type="number" id="input-last-name" class="form-control form-control-alternative"
                          placeholder="¿Cuántas horas?" NumbersOnly formControlName="timeRegister">
                        <div *ngIf="registerTaskForm.controls.timeRegister.invalid && registerTaskForm.controls.timeRegister.touched">
                          <small class="error-text ml-2">*Horas obligatorias</small>
                        </div>
                      </div>
                    </div>
                    <!-- End Time Input -->

                  </div>

                  <!-- Start Description Input -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="project-description">Descripción</label>
                        <textarea class="form-control form-control-alternative"
                                  id="project-description" rows="10" maxlength="500" formControlName="description"
                                  placeholder="Aquí puedes describir un poco mas que se hizo... (Opcional)"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- End Description Input -->

                  <!-- Start Submit Desktop -->
                  <div class="row justify-content-end d-none d-xl-flex">
                    <div class="col-auto">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                      </div>
                    </div>
                  </div>
                  <!-- End Submit Desktop -->

                </div>
                <!-- End Card Body -->

              </div>
              <!-- End Cards section -->

            </div>
          </div>
        </div>
        <!-- End Left Section -->

        <!-- Start Right Section -->
        <div class="col-xl-6 ">
          <div class="row h-100">
            <div class="col-12">
              <div class="card card-stats mb-4 mb-xl-0 h-100">

                <!-- Start Card Header -->
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <div class="row p-0 m-0 align-items-center">
                        <h3 class="mb-0">Imagen</h3>
                        <i class="far fa-question-circle ml-1 text-sm"
                           placement="right" ngbTooltip="Si se te solicita, puedes colocar una imagen como evidencia" tooltipClass="defaultTooltip"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card Header -->
                  <app-drag-and-drop [file]="file" (result)="setImage($event)" [imageShow]="serviceData?.imageUrl" (deleteEdit)="deleteEditImage($event)"></app-drag-and-drop>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Section -->

        <!-- Start Mobile Submit -->
        <div class="col-12 mt-4 d-xl-none">
          <div class="row">
            <div class="col-12">
              <div class="card card-stats">
                <div class="card-body bg-secondary">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <button type="submit" class="col btn btn-primary">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Mobile Submit -->

      </div>
      </form>
      <!-- End Form -->

    </div>
  </div>
</div>
