<div class="header bg-gradient-lightBlue pb-5 pt-3 pt-md-7">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Start Form -->
      <form (submit)="registerTaskSubmit()" [formGroup]="registerTaskForm">
      <div class="row">
        <!-- Start Left Section -->
        <div class="col-xl-6 pb-4 pb-xl-0">
          <div class="row h-100">
            <div class="col-12">
              <!-- Start Cards section -->
              <div class="card card-stats mb-4 mb-xl-0 h-100">

                <!-- Start Card Header -->
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <div class="row p-0 m-0">
                        <a class="p-0 m-0 mr-3 mouse-pointer" (click)="return()">
                          <i class="fas fa-arrow-left"></i>
                        </a>
                        <h3 class="mb-0">Datos Generales</h3>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- End Card Header -->

                <!-- Start Card Body -->
                <div class="card-body p-xl-3 bg-secondary">
                  <div class="row justify-content-end">

                    <!-- Start Date Input -->
                    <div class="col-12 col-sm-6">
                      <div class="form-group m-sm-0">
                        <input type="date" class="form-control form-control-alternative" />
                      </div>
                    </div>
                  </div>
                  <!-- End Date Input -->

                  <!-- Start Project Input -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="select-project">Proyecto</label>
                        <select id="select-project" class="form-control form-control-alternative">
                          <option [value]="null" disabled hidden selected>¿En qué proyecto se trabajó?</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- End Project Input -->

                  <div class="row">

                    <!-- Start Title Input -->
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">Titulo</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative"
                               placeholder="¿Qué se hizo?">
                      </div>
                    </div>
                    <!-- End Title Input -->

                    <!-- Start Time Input -->
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Tiempo</label>
                        <input type="number" id="input-last-name" class="form-control form-control-alternative"
                               placeholder="¿Cuántas horas?" NumbersOnly>
                      </div>
                    </div>
                    <!-- End Time Input -->

                  </div>

                  <!-- Start Description Input -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="project-description">Descripción</label>
                        <textarea class="form-control form-control-alternative"
                                  id="project-description" rows="10"
                                  placeholder="Aquí puedes describir un poco mas que se hizo... (Opcional)"></textarea>
                      </div>
                    </div>
                  </div>
                  <!-- End Description Input -->

                  <!-- Start Submit Desktop -->
                  <div class="row justify-content-end d-none d-xl-flex">
                    <div class="col-auto">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                      </div>
                    </div>
                  </div>
                  <!-- End Submit Desktop -->

                </div>
                <!-- End Card Body -->

              </div>
              <!-- End Cards section -->

            </div>
          </div>
        </div>
        <!-- End Left Section -->

        <!-- Start Right Section -->
        <div class="col-xl-6 ">
          <div class="row h-100">
            <div class="col-12">
              <div class="card card-stats mb-4 mb-xl-0 h-100">

                <!-- Start Card Header -->
                <div class="card-header bg-white border-0">
                  <div class="row align-items-center">
                    <div class="col-8">
                      <div class="row p-0 m-0 align-items-center">
                        <h3 class="mb-0">Imagen</h3>
                        <i class="far fa-question-circle ml-1 text-sm"
                           placement="right" ngbTooltip="Si se te solicita, puedes colocar una imagen como evidencia" tooltipClass="defaultTooltip"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Card Header -->

                <!-- Start Image Input -->
                <input type="file" id="newPhoto" accept=".png, .jpg, .jpeg"
                       (change)="onFileChanged($event)" required class="d-none">
                <!-- End Image Input -->

                <div class="p-3 h-100" id="image-container">

                  <div class="h-100 d-flex justify-content-center align-items-center flex-column text-center" id="image-box"
                         [ngClass]="[(ondrag === true) ? 'ondrag': '', (imageShow !== undefined) ? '' : 'border-active' ]"
                         (drop)="dropHandler($event)"
                         (dragleave)="dragExit()"
                         (dragover)="dragOverHandler($event);">

                    <ng-container *ngIf="imageShow === undefined; else image">
                      <label class="btn btn-primary image-button mb-2" for="newPhoto" id="upload-button">
                        <i class="fas fa-upload"></i>
                      </label>
                      <p class="m-0 font-weight-normal">Arrastra y suelta o haz clic para cargar Imagen</p>
                    </ng-container>

                    <ng-template #image>
                      <!-- Start Image Preview -->
                      <div class="p-1 p-md-3" id="image">
                        <img [src]="this.imageShow" alt="">
                      </div>
                      <!-- End Image Preview -->

                      <!-- Start Image Background Blur -->
                      <div id="background">
                        <img [src]="this.imageShow" alt="">
                      </div>
                      <!-- End Image Background Blur -->

                      <!-- Start Image Button -->
                      <div id="button-box" class="h-100 w-100 d-flex justify-content-center align-items-center">

                        <label class="btn btn-neutral text-primary image-button mb-2" for="newPhoto">
                          <i class="fas fa-redo"></i>
                        </label>

                        <button class="btn btn-neutral text-red image-button mb-2" (click)="deletePhoto()">
                          <i class="fas fa-trash"></i>
                        </button>

                      </div>
                      <!-- End Image Button -->
                    </ng-template>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Right Section -->

        <!-- Start Mobile Submit -->
        <div class="col-12 mt-4 d-xl-none">
          <div class="row">
            <div class="col-12">
              <div class="card card-stats">
                <div class="card-body bg-secondary">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                      <div class="form-group">
                        <button type="submit" class="col btn btn-primary">Aceptar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Mobile Submit -->

      </div>
      </form>
      <!-- End Form -->

    </div>
  </div>
</div>
