<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<!-- Start Page content -->
<div class="container-fluid pt-3 pt-md-7">


  <div class="row">
    <div class="col">
      <!-- Start Table Card -->
      <div class="card shadow px-2 px-sm-3 bg-lighterBlue">

        <div class="card-header bg-lighterBlue px-0 pb-0">

          <!-- Start First Row -->
          <div class="row align-items-center mb-3 ">
            <h3 class="col-auto mb-0">Estudiantes</h3>
          </div>
          <!-- End First Row -->

          <!-- Start Second Row -->
          <div class="row align-items-end mb-0">

            <!-- Start Search Input -->
            <div class="col-sm row m-0 mb-2">
              <div class="col-12 col-sm m-0 p-0 mb-2 mb-sm-0 mr-sm-2 form-group rounded overflow-hidden">
                <div class="input-group input-group-alternative w-100">
                  <input class="form-control" placeholder="Buscar estudiante..." type="text" [(ngModel)]="tableService.searchTerm">
                  <div class="input-group-prepend">
                    <span class="input-group-text text-primary"><i class="fas fa-search"></i></span>
                  </div>
                </div>
              </div>

              <!-- Start Export -->
              <div class="col-sm-auto p-0">
                  <button type="button" class="btn btn-primary w-100" (click)="exportAll()">
                    <i class="fas fa-download"></i>
                    <span class="ml-2">Exportar</span>
                  </button>
              </div>
              <!-- End Export -->
            </div>
            <!-- End Search Input -->

          </div>
          <!-- End Second Row -->

        </div>

        <!-- Start Register Table -->
        <div class="table-responsive bg-white rounded">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" sortable="enrollment" (sort)="onSort($event)" class="table-title">
                <div>
                  Estudiante
                  <span>
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>
                </span>
                </div>
              </th>
              <th scope="col" sortable="group" (sort)="onSort($event)" class="table-title">
                <div>
                  Grupo
                  <span>
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>
                </span>
                </div>
              </th>
              <th *ngIf="utilitiesService.getRole() !==3" scope="col" sortable="company" (sort)="onSort($event)" class="table-title d-none d-lg-table-cell">
                <div>
                  Empresa
                  <span>
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>
                </span>
                </div>
              </th>
              <th scope="col" sortable="advisor" (sort)="onSort($event)" class="table-title">
                <div class="table-title">
                  Asesor
                  <span>
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>
                </span>
                </div>
              </th>
              <th scope="col" sortable="totalWork" (sort)="onSort($event)" class="table-title">
                <div class="table-title">
                  Horas trabajadas
                  <span>
                  <i class="fas fa-sort-up"></i>
                  <i class="fas fa-sort-down"></i>
                </span>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>

            <!-- Start Register Row -->
            <tr class="row-button" routerLink="students-profile" *ngFor="let data of arrayTable$ | async">
              <td scope="row">
                <div class="d-inline-flex">
                  <div class="content-image">
                    <img src="../../../../assets/img/defaults/default-user.png" class="img-fluid aux-image" alt="image-profile">
                  </div>
                  <div class="d-block my-auto ml-2">
                    <p class="mb-0" style="color: #18187A; font-size: .85rem; font-weight: 600;">{{data.student}}</p>
                    <div class="d-inline-flex align-items-center">
                      <p class="text-sm mb-0 pl-1 font-weight-normal">{{data.enrollment}}</p>
                    </div>
                  </div>
                </div>
              </td>

              <td>
                {{data.group}}
              </td>
              <td *ngIf="utilitiesService.getRole() !==3" class="d-none d-lg-table-cell">
                {{data.company}}
              </td>
              <td>
                {{data.advisor}}
              </td>
              <td class="text-center">
                {{data.totalWork}}
              </td>
            </tr>
            <!-- End Register Row -->

            </tbody>
          </table>
        </div>
        <!-- End Register Table -->

        <!-- Start Pagination -->
        <div class="card-footer py-4 px-0 bg-lighterBlue">
          <div class="row m-0 p-0">
            <div class="col-12 col-sm p-0 d-flex justify-content-center justify-content-sm-start">
              <ngb-pagination
                [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize" maxSize="5" rotate="true" ellipses>
              </ngb-pagination>
            </div>


            <div class="col-auto mx-auto mx-sm-0 p-0">
              <div class="form-group d-flex align-items-center mb-0">
                <label for="vpp" class="mr-2">Vistas: </label>
                <select id="vpp" class="form-control form-control-range" name="pageSize" [(ngModel)]="tableService.pageSize">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="20">20</option>
                  <option [ngValue]="100000">Todos</option>
                </select>
              </div>
            </div>

          </div>
        </div>
        <!-- End Pagination -->
      </div>
      <!-- End Table Card -->

    </div>
  </div>

</div>
