.content-image{
    margin-top: 2.5rem !important;
    margin-left: 5rem;
    border: 3px solid white;
}
.data-student{
    margin-left: 15rem;
}
.text-info-profile{
    font-weight: 400;
    font-size: 14px;
    color: black;
}
.aux-image{
    object-fit: cover;
    width: 156px;
    height: 156px;
}