.var-text{
    /* font-size: ; */
    color: #9E9E9E;
    font-weight: 800;
}
.var-number{
    font-size: 1.3rem;
    color: black;
    font-weight: 900;
}



.content-image{
    max-width: 56px;
    min-width: 56px;
}
.aux-image{
    object-fit: cover;
    width: 56px;
    height: 56px;
    border: 3px solid white;
    border-radius: 10px;
}

@media (max-width: 1200px) {
  /*   .content-image{
        margin-top: 2.5rem !important;
        margin-left: 5vw !important;
    } */
  }