<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<!-- Start Page content -->
<div class="container-fluid pt-3 pt-md-7">


  <div class="row">
    <div class="col-xl-4 col-lg-6 mb-3">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Estudiantes</h5>
              <span class="h2 font-weight-bold mb-0">{{(serviceData?.students) ? serviceData?.students : 'No disponible'}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                <i class="fas fa-graduation-cap"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--     <div class="col-xl-4 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Liberados</h5>
              <span class="h2 font-weight-bold mb-0">35</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                <i class="fas fa-user-check"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-4 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Grupos</h5>
              <span class="h2 font-weight-bold mb-0">{{(serviceData?.groups) ? serviceData?.groups:'No disponible'}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-12">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Tareas</h5>
              <span class="h2 font-weight-bold mb-0">{{(serviceData?.tasks) ? serviceData?.tasks : 'No disponible'}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                <i class="fas fa-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
        <!-- Start Table Card -->
        <div class="card shadow px-2 px-sm-3 bg-lighterBlue">

          <div class="card-header bg-lighterBlue px-0 pb-0">

            <!-- Start First Row -->
            <div class="row align-items-center mb-3 ">
              <h3 class="col-auto mb-0">Actividades realizadas</h3>
            </div>
            <!-- End First Row -->

            <!-- Start Second Row -->
            <div class="row align-items-end mb-0">

              <!-- Start Date Range Export-->
              <!-- Start Search Input -->
              <div class="col-xl col-sm-12 row m-0 mb-2">
                <div class="col p-0 mb-0 form-group rounded overflow-hidden">
                  <div class="input-group input-group-alternative w-100">
                    <input class="form-control" placeholder="Lista de tareas..." type="text" [(ngModel)]="tableService.searchTerm">
      <!--                  <span class="ml-3" *ngIf="tableService.loading$ | async">Loading...</span>-->
                    <div class="input-group-prepend">
                      <span class="input-group-text text-primary"><i class="fas fa-search"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Search Input -->

            </div>
            <!-- End Second Row -->

          </div>

          <!-- Start Register Table -->
          <div class="table-responsive bg-white rounded">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col" sortable="title" (sort)="onSort($event)" class="table-title">
                  <div>
                    Tarea
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
                <th scope="col" sortable="student" (sort)="onSort($event)" class="table-title">
                  <div>
                    Estudiante
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
                <th scope="col" sortable="nameCompany" (sort)="onSort($event)" class="table-title d-none d-lg-table-cell">
                  <div>
                    Empresa
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
                <th scope="col" sortable="nameProject" (sort)="onSort($event)" class="table-title d-none d-lg-table-cell">
                  <div>
                    Proyecto
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
                <th scope="col" sortable="timeRegister" (sort)="onSort($event)" class="table-title d-none d-lg-table-cell">
                  <div>
                    Tiempo
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
                <th scope="col" sortable="status" (sort)="onSort($event)" class="table-title d-none d-lg-table-cell">
                  <div class="table-title">
                    Status
                    <span>
                    <i class="fas fa-sort-up"></i>
                    <i class="fas fa-sort-down"></i>
                  </span>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>

              <!-- Start Register Row -->
              <tr class="row-button flex-grow-0" (click)="studentsService.viewRegister(data.id)" *ngFor="let data of arrayTable$ | async">
                <td scope="row">
                  <div class="d-inline-flex">
                    <div class="content-image">
                      <img src="{{data.image ? data.image : '../../../../assets/img/defaults/default-user.png'}}" class="img-fluid aux-image" alt="image-profile">
                    </div>
                    <div class="d-block my-auto ml-2">
                      <p class="mb-0" style="color: #18187A; font-size: .85rem; font-weight: 600;">{{data.title}}</p>
                      <div class="d-inline-flex align-items-center">
                        <i class="far fa-calendar"></i>
                        <p class="text-sm mb-0 pl-1 font-weight-normal">{{data.dateRegister?data.dateRegister:'No disponible'}}</p>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="d-none d-lg-table-cell">
                  <span class="btn-link mouse-pointer" routerLink="/dash/tch/students/students-profile/{{data.idUser}}">{{data.student?data.student:'No disponible'}}</span>
                </td>
                <td class="d-none d-lg-table-cell">
                  {{data.nameCompany?data.nameCompany:'No disponible'}}
                </td>
                <td class="d-none d-lg-table-cell">
                  {{data.nameProject?data.nameProject:'No disponible'}}
                </td>
                <td class="d-none d-lg-table-cell">
                  {{data.timeRegister?data.timeRegister:'No disponible'}} horas
                </td>
                <td>
                  <span class="badge badge-dot mr-4 text-xs">
                    <span class="text-danger" *ngIf="(data.status === 'Rechazado')">{{data.status}}</span>
                    <span class="text-orange" *ngIf="(data.status === 'Pendiente')">{{data.status}}</span>
                    <span class="text-success" *ngIf="(data.status === 'Aceptado')">{{data.status}}</span>
                  </span>
                </td>
              </tr>

              <tr>
                <td colspan="6">
                  <div *ngIf="!serviceData || serviceData?.length === 0" class="flex-grow-1 d-flex m-0 p-0 align-items-center justify-content-start justify-content-md-center w-100">
                    <span class="py-5">Sin tareas por revisar</span>
                  </div>
                </td>
              </tr>
              <!-- End Register Row -->

              </tbody>
            </table>
          </div>
          <!-- End Register Table -->

          <!-- Start Pagination -->
          <div class="card-footer py-4 bg-lighterBlue">
            <ngb-pagination
              [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize">
            </ngb-pagination>
          </div>
          <!-- End Pagination -->
        </div>
        <!-- End Table Card -->

      </div>
  </div>

</div>
