<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->

<div class="pb-0 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Start Grid Cards Projects -->
      <div class="grid-cards">

        <!-- Start Card Project -->
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body px-2 px-sm-4 p-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <a href="" class="m-0">
                <i class="transform-icon transform-icon text-xs fas fa-pen mr-3 text-white bg-purple rounded-circle p-2" title="Editar el proyecto"></i>
              </a>
              <i class="transform-icon text-xs fas fa-trash text-white bg-danger mouse-pointer rounded-circle p-2" title="Eliminar el proyecto" (click)="deleteRegister()"></i>
            </div>
            <img src="assets/img/brand/logo-dark.png" alt="" height="60px" class="mw-100">
            <p class="text-sm font-weight-bold m-0">Proyecto: Ammaclub</p>
            <p class="text-xs text-black-50 font-weight-bold">Fecha de creación: 12/06/2021</p>
            <p class="text-xs font-weight-normal text-dark font-weight-bold m-0">Objetivos:</p>
            <p class="text-xs font-weight-normal text-dark">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a imperdiet neque. Praesent sed massa ut
              justo ultrices sagittis in non purus.
            </p>
            <div class="text-right">
              <p class="text-sm m-0 font-weight-bold"> Status: <span class="text-green">Activo</span></p>
            </div>
          </div>
        </div>
        <!-- End ard Project -->

        <!-- Start Card Project -->
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body px-2 px-sm-4 p-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <a href="" class="m-0">
                <i class="transform-icon text-xs fas fa-pen mr-3 text-white bg-purple rounded-circle p-2" title="Editar el proyecto"></i>
              </a>
              <i class="transform-icon text-xs fas fa-trash text-white bg-danger mouse-pointer rounded-circle p-2" title="Eliminar el proyecto"></i>
            </div>
            <img src="assets/img/brand/logo-dark.png" alt="" height="60px" class="mw-100">
            <p class="text-sm font-weight-bold m-0">Proyecto: Ammaclub</p>
            <p class="text-xs text-black-50 font-weight-bold">Fecha de creación: 12/06/2021</p>
            <p class="text-xs font-weight-normal text-dark font-weight-bold m-0">Objetivos:</p>
            <p class="text-xs font-weight-normal text-dark">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a imperdiet neque. Praesent sed massa ut
              justo ultrices sagittis in non purus.
            </p>
            <div class="text-right">
              <p class="text-sm m-0 font-weight-bold"> Status: <span class="text-green">Activo</span></p>
            </div>
          </div>
        </div>
        <!-- End ard Project -->

        <!-- Start Card Project -->
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body px-2 px-sm-4 p-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <a href="" class="m-0">
                <i class="transform-icon text-xs fas fa-pen mr-3 text-white bg-purple rounded-circle p-2" title="Editar el proyecto"></i>
              </a>
              <i class="transform-icon text-xs fas fa-trash text-white bg-danger mouse-pointer rounded-circle p-2" title="Eliminar el proyecto"></i>
            </div>
            <img src="assets/img/brand/logo-dark.png" alt="" height="60px" class="mw-100">
            <p class="text-sm font-weight-bold m-0">Proyecto: Ammaclub</p>
            <p class="text-xs text-black-50 font-weight-bold">Fecha de creación: 12/06/2021</p>
            <p class="text-xs font-weight-normal text-dark font-weight-bold m-0">Objetivos:</p>
            <p class="text-xs font-weight-normal text-dark">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a imperdiet neque. Praesent sed massa ut
              justo ultrices sagittis in non purus.
            </p>
            <div class="text-right">
              <p class="text-sm m-0 font-weight-bold"> Status: <span class="text-green">Activo</span></p>
            </div>
          </div>
        </div>
        <!-- End ard Project -->

        <!-- Start Card Project -->
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body px-2 px-sm-4 p-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <a href="" class="m-0">
                <i class="transform-icon text-xs fas fa-pen mr-3 text-white bg-purple rounded-circle p-2" title="Editar el proyecto"></i>
              </a>
              <i class="transform-icon text-xs fas fa-trash text-white bg-danger mouse-pointer rounded-circle p-2" title="Eliminar el proyecto"></i>
            </div>
            <img src="assets/img/brand/logo-dark.png" alt="" height="60px" class="mw-100">
            <p class="text-sm font-weight-bold m-0">Proyecto: Ammaclub</p>
            <p class="text-xs text-black-50 font-weight-bold">Fecha de creación: 12/06/2021</p>
            <p class="text-xs font-weight-normal text-dark font-weight-bold m-0">Objetivos:</p>
            <p class="text-xs font-weight-normal text-dark">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a imperdiet neque. Praesent sed massa ut
              justo ultrices sagittis in non purus.
            </p>
            <div class="text-right">
              <p class="text-sm m-0 font-weight-bold"> Status: <span class="text-green">Activo</span></p>
            </div>
          </div>
        </div>
        <!-- End ard Project -->

        <!-- Start Card Project -->
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body px-2 px-sm-4 p-lg-4">
            <div class="d-flex justify-content-end align-items-center">
              <a href="" class="m-0">
                <i class="transform-icon text-xs fas fa-pen mr-3 text-white bg-purple rounded-circle p-2" title="Editar el proyecto"></i>
              </a>
              <i class="transform-icon text-xs fas fa-trash text-white bg-danger mouse-pointer rounded-circle p-2" title="Eliminar el proyecto"></i>
            </div>
            <img src="assets/img/brand/logo-dark.png" alt="" height="60px" class="mw-100">
            <p class="text-sm font-weight-bold m-0">Proyecto: Ammaclub</p>
            <p class="text-xs text-black-50 font-weight-bold">Fecha de creación: 12/06/2021</p>
            <p class="text-xs font-weight-normal text-dark font-weight-bold m-0">Objetivos:</p>
            <p class="text-xs font-weight-normal text-dark">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a imperdiet neque. Praesent sed massa ut
              justo ultrices sagittis in non purus.
            </p>
            <div class="text-right">
              <p class="text-sm m-0 font-weight-bold"> Status: <span class="text-green">Activo</span></p>
            </div>
          </div>
        </div>
        <!-- End ard Project -->

      </div>
      <!-- End Grid Cards Projects -->

    </div>
  </div>
</div>
