<form [formGroup]="studentsForm" (ngSubmit)="studentsSubmit()">

  <app-register-form [edit]="edit" [role]="1"></app-register-form>

  <div class="row m-0 p-0">
    <!-- Start Enrollment Input -->
    <div class="form-group col-12 p-0">
      <div class="input-group input-group-alternative" [ngClass]="(studentsForm.controls.enrollment.invalid && studentsForm.controls.enrollment.touched ) ? 'error-border' : ''">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
        </div>
        <input class="form-control" placeholder="Matrícula" type="text" formControlName="enrollment" maxlength="9" NumbersOnly>
      </div>
      <div *ngIf="studentsForm.controls.enrollment.errors?.required && studentsForm.controls.enrollment.touched">
        <small class="error-text ml-2">*Ingresa tu matrícula</small>
      </div>
      <div *ngIf="studentsForm.controls.enrollment.errors?.minlength && studentsForm.controls.enrollment.touched">
        <small class="error-text ml-2">*Debe ser de {{studentsForm.controls.enrollment.errors?.minlength.requiredLength}} caracteres</small>
      </div>
    </div>
    <!-- End Enrollment Input -->

  </div>

  <div class="text-center" [ngClass]="(edit) ? 'text-md-right' : ''" >
    <button type="submit" class="btn btn-primary mt-4" [ngClass]="(edit)? 'col-auto' : 'col-sm-8'" >
      {{ (edit) ? 'Guardar Cambios' : 'Crear Cuenta' }}
    </button>
  </div>
</form>

