:root{
  --redText: #fe7f94;
  --redTextDark: #fa475f;
}

// Utilities
.mouse-pointer{
  cursor: pointer;
}
.font-size-9{
  font-size: 0.9rem;
}
.font-size-8{
  font-size: 0.8rem;
}
.title-session{
  font-size: 1.5rem;
}
.modal-head{
  font-size: 1rem;
}

.text-darkBlue{
  color: #1C1679;
}

// Cards Grid
.grid-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .grid-cards{
    grid-template-columns: repeat(auto-fit, 20rem);
  }
}

// Add Button Table
.add-button{
  position: absolute !important;
  top: -10px;
  right: -10px;
  z-index: 1;
}

// Secondary Button link
.btn.secondary{
  color: var(--light);
}
.btn.secondary:hover{
  color: var(--gray);
}

// Danger Button Link
.btn.danger{
  color: var(--redText);
}
.btn.danger:hover{
  color: var(--redTextDark);
}

// Row button
.row-button{
  transition: all ease 0.2s;
}
.row-button:hover{
  background-color: rgba(197, 203, 255, 0.3);
  cursor: pointer;
}

// Forms Errors Styles
.error-border{
  border: var(--redText) solid 2px !important;
}
.error-text{
  color: var(--redText) !important;
}

// Tooltip
.defaultTooltip{
  animation: 0.2s defaultTooltipAnimation ;
}
.defaultTooltip .tooltip-inner{
  background-color: rgba(0, 0, 0, 0.7);
}

.bs-tooltip-top .arrow:before{
  border-top-color: rgba(0, 0, 0, 0.7)!important;
}
.bs-tooltip-bottom .arrow:before{
  border-bottom-color: rgba(0, 0, 0, 0.7)!important;
}
.bs-tooltip-left .arrow:before{
  border-left-color: rgba(0, 0, 0, 0.7)!important;
}
.bs-tooltip-right .arrow:before{
  border-right-color: rgba(0, 0, 0, 0.7)!important;
}
@keyframes defaultTooltipAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Form Control Blue
.form-control.form-control-blue{
  border: 1px solid var(--primary);
}
.form-control.form-control-blue:hover,
.form-control.form-control-blue:active{
  border: 2px solid var(--primary) !important;
}

// Background Header Dashboard
.background-default{
  height: 15rem;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .background-default{
    height: 20rem;
  }
}
.background-complete{
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

// All Modals
@keyframes modal-background-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.16;
  }
}
@keyframes modal-component-fade {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-backdrop.show{
  animation: ease .3s modal-background-fade;
}
.modal {
  animation: ease .3s modal-component-fade;
}

// Notification Modal
// Alert Modal
// Warning Modal

.input-border{
  color: black !important;
  border: 2px solid #E6E6E6 !important;
}
.input-border:focus {
  border: 2px solid #CDCDCD !important;
}
.title-input{
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}

// Table Sort title
.table-title{
  cursor: pointer;
}
.table-title div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-title:hover{
  background-color: var(--lighter)!important;
}
.table-title:active{
  background-color: var(--secondary)!important;
}

.table-title div span{
  visibility: hidden;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.table-title:hover div span{
  visibility: visible;
}


// Toast Global Config
.toast-body{
  width: 100%;
  text-align: center!important;
}

// Edit Profile Image
.image-edit{
  position: relative;
}
.image-edit picture{
  width: 200px;
  height: 200px;
}
.image-edit picture img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-edit:hover picture{
  opacity: 0.6;
}
.image-edit i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0.3;
  transition: all 0.3s ease;
}
.image-edit:hover i{
  opacity: 0.9;
}

// Table Image
.content-image{
  max-width: 56px;
  min-width: 56px;
}
.aux-image{
  object-fit: cover;
  width: 56px;
  height: 56px;
  border: 3px solid white;
  border-radius: 10px;
}
