root{
  --redText: #FE7F94;
}

// Utilities
.mouse-pointer{
  cursor: pointer;
}
.font-size-9{
  font-size: 0.9rem;
}
.font-size-8{
  font-size: 0.8rem;
}
.title-session{
  font-size: 1.5rem;
}
.modal-head{
  font-size: 1rem;
}

.text-darkBlue{
  color: #1C1679;
}

.grid-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .grid-cards{
    grid-template-columns: repeat(auto-fit, 20rem);
  }
}

// Forms Errors Styles
.error-border{
  border: var(--redText) solid 2px !important;
}
.error-text{
  color: var(--redText) !important;
}

// Background Header Dashboard
.background-default{
  height: 15rem;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .background-default{
    height: 20rem;
  }
}

// All Modals
@keyframes modal-background-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.16;
  }
}
@keyframes modal-component-fade {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-backdrop.show{
  animation: ease .3s modal-background-fade;
}
.modal {
  animation: ease .3s modal-component-fade;
}

// Notification Modal
// Alert Modal
// Warning Modal
