/* You can add global styles to this file, and also import other style files */
.mouse-pointer{
  cursor: pointer;
}

.background-default{
  height: 15rem;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .background-default{
    height: 20rem;
  }
}

.font-size-9{
  font-size: 0.9rem;
}
.font-size-8{
  font-size: 0.8rem;
}

.title-session{
    font-size: 1.5rem;
  }

.text-darkBlue{
  color: #1C1679;
}

.error-border{
  border: #FE7F94 solid 2px !important;
}
.error-text{
  color: #FE7F94 !important;
}
