<!-- Start Background Color -->
<div class="bg-gradient-lightBlue background-default">
</div>
<!-- End Background Color -->


<div class="container-fluid pt-3 pt-md-7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header">

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div class="row p-0 m-0 w-100">
                  <div class="btn col-12 col-lg-4 m-0" routerLink="../group">
                    <i class="fas fa-building"></i>
                    <span class="heading font-weight-700 text-sm">Wayaweb</span>
                    <span class="description">Empresa</span>
                  </div>
                  <div class="btn col-12 col-lg-4 m-0" routerLink="../group">
                    <i class="fas fa-graduation-cap"></i>
                    <span class="heading font-weight-700 text-sm">Ing. en Software</span>
                    <span class="description">Carrera</span>
                  </div>
                  <div class="btn col-12 col-lg-4 m-0" routerLink="../group">
                    <i class="far fa-id-card"></i>
                    <span class="heading font-weight-700 text-sm">Marco Aguilar Martinez</span>
                    <span class="description">Asesor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
